<Files *.ss>
Order deny,allow
Deny from all
Allow from 127.0.0.1
</Files>

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^(.*)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\.(css|gif|ico|jpg|js|png|swf|txt)$
RewriteRule .* /public/index.php?route=$1 [L]